<!-- vendor -->
<script src="bower_components/jquery/dist/jquery.min.js?v=1"></script>
<script src="bower_components/angular/angular.js?v=1"></script>
<script src="bower_components/Color.Space/index.js?v=1"></script>
<script src="bower_components/Color.Blind/index.js?v=1"></script>
<script src="bower_components/i-color/index.js?v=1"></script>
<script src="bower_components/delta-e/dist/deltae.global.min.js?v=1"></script>
<script src="bower_components/lodash/lodash.min.js?v=1"></script>

<script src="bower_components/jquery-minicolors/jquery.minicolors.min.js?v=1"></script>
<link rel="stylesheet" href="bower_components/jquery-minicolors/jquery.minicolors.css?v=1">

<!-- app -->
<script src="app/lib.js"></script>
<script src="app/app.js"></script>

<!-- styles -->
<link rel="stylesheet" href="app/css/style.css">


<body ng-app="color" ng-controller="mainController">
	
	<main>
		<div class="wrapper">
			<header>
				<h1><img src="app/imgs/logo@2x.png" alt=""> Do my colors fail?</h1>
			</header>

			<div class="row column-headings">
				<div class="half"><h2>Original</h2></div>
				<div class="half"><h2>Blindness</h2></div>
			</div>

	    <div ng-repeat="pair in colorPairs">
	      <color-pair></color-pair>
	    </div>
	    <div>
	      <a href="" ng-click="addPair()">+ add</a>
	    </div>

  	</div> 
  </main>

</body>
