<!-- vendor -->
<script src="bower_components/Color.Space/index.js"></script>
<script src="bower_components/Color.Blind/index.js"></script>
<script src="bower_components/i-color/index.js"></script>
<script src="bower_components/delta-e/dist/deltae.global.min.js"></script>
<script src="bower_components/lodash/lodash.min.js"></script>
<script src="bower_components/angular/angular.js"></script>

<!-- app -->
<script src="app/lib.js"></script>
<script src="app/app.js"></script>

<body ng-app="color" ng-controller="mainController">
  <input type="color" ng-model="colors.a" ng-change="colorChange()">
  <input type="color" ng-model="colors.b">
  <pre>
    {{colors}}
  </pre>
</body>
