<!-- vendor -->
<script src="bower_components/Color.Space/index.js"></script>
<script src="bower_components/Color.Blind/index.js"></script>
<script src="bower_components/i-color/index.js"></script>
<script src="bower_components/delta-e/dist/deltae.global.min.js"></script>
<script src="bower_components/lodash/lodash.min.js"></script>
<script src="bower_components/angular/angular.js"></script>

<!-- app -->
<script src="app/lib.js"></script>
<script src="app/app.js"></script>

<!-- styles -->
<link rel="stylesheet" href="app/css/style.css">


<body ng-app="color" ng-controller="mainController">
	<main>
		<div class="wrapper">
			<header>
				<h1>Do my colors fail?</h1>
			</header>

			<div class="column-headings">
				<h2>Original</h2>
				<h2>Blindness</h2>
			</div>

	    <div ng-repeat="pair in colorPairs">
	      <color-pair></color-pair>
	    </div>
	    <div>
	      <a href="" ng-click="addPair()">+ add</a>
	    </div>

  	</div> <!-- /end .wrapper -->
  </main>
</body>
