<!-- inject some styles 'n shit -->
<link rel="stylesheet" href="app/css/style.css">

<!-- vendor -->
<script src="bower_components/Color.Space/index.js"></script>
<script src="bower_components/Color.Blind/index.js"></script>
<script src="bower_components/i-color/index.js"></script>
<script src="bower_components/delta-e/dist/deltae.global.min.js"></script>
<script src="bower_components/lodash/lodash.min.js"></script>
<script src="bower_components/angular/angular.js"></script>

<!-- app -->
<script src="app/lib.js"></script>
<script src="app/app.js"></script>

<!-- <body ng-app="color" ng-controller="mainController"> -->
<body>
	
	<main>
		<div class="wrapper">
			
			<section class="text-styles">
			  <h1>Heading One</h1>
			  <h2>Heading Two</h2>
			  <h3>Heading Three</h3>
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis excepturi provident id laboriosam similique labore consectetur quidem qui, illo iste earum. Adipisci repudiandae, fugiat ullam pariatur asperiores. Cum est, quo? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing.</p>
			  <p><a href="#">Text Link</a></p>
			  <small>Autem praesentium, neque possimus voluptate architecto, aliquid consequuntur, odit veniam accusamus, nesciunt eaque beatae aut nostrum. Molestias sit porro magni itaque tempora.</small>
			</section>
			
			<section>
				<div class="row column-headings">
					<div class="half"><h2>Original</h2></div>
					<div class="half"><h2>Blindness</h2></div>
				</div>

				<div ng-repeat="pair in colorPairs" class="ng-scope">
	      	<div class="row color-pair ng-isolate-scope">
						<div class="half">
	  					<div class="color-block ng-isolate-scope ng-valid" style="background-color:#ff0000" ng-model="input" ng-click="inputClick()">
	  						<div class="minicolors minicolors-theme-default minicolors-position-bottom minicolors-position-left"><input id="minicolors" type="text" ng-model="input" ng-change="colorChange()" class="ng-pristine ng-untouched ng-valid minicolors-input" size="7"><span class="minicolors-swatch minicolors-sprite"><span class="minicolors-swatch-color" style="background-color: rgb(255, 0, 0);"></span></span><div class="minicolors-panel minicolors-slider-hue"><div class="minicolors-slider minicolors-sprite"><div class="minicolors-picker" style="top: 150px;"></div></div><div class="minicolors-opacity-slider minicolors-sprite"><div class="minicolors-picker"></div></div><div class="minicolors-grid minicolors-sprite" style="background-color: rgb(255, 0, 0);"><div class="minicolors-grid-inner"></div><div class="minicolors-picker" style="top: 0px; left: 150px;"><div></div></div></div></div></div>
	  					</div>
  					</div>
  					<div class="half">
  						<div class="color-block ng-isolate-scope ng-valid" style="background-color:#a07700" ng-model="output"></div>
  					</div>
					</div>
	    	</div>

				<!-- <div class="row">
					<div class="half">
						<div class="color-preview" style="background-color: #ff0000;">
							<input type="text" id="" maxlength="6" placeholder="FF0000">
						</div>
					</div>
					<div class="half">
						<div class="color-preview" style="background-color: #00ff00;">
						</div>
					</div>
				</div>
 -->
				<div class="row">
					<a class="add-color" href="#">+ Another color</a>
				</div>
			</section>

		</div>
	</main>

</body>