// ============================================================
// ============================================================
// Mutoid Men Base Styles
// ============================================================
// ============================================================

body {
	background-color: $dark-gray;
	color: white;
}

.wrapper {
	max-width: rem(940);
	margin-right: auto;
	margin-left: auto;
}