// ============================================================
// ============================================================
// Mutoid Men Layout Styles
// ============================================================
// ============================================================


.wrapper {
	max-width: rem(940);
	margin-right: auto;
	margin-left: auto;
}

.row {
	@include display(flex);
	@include justify-content(center);
	@include align-content(stretch);
	@include align-items(stretch);
}

.half {
	position: relative;
	width: 50%;
	margin: 10px;
}

header h1 {
	text-align: center;
	margin-top: $pad-md;
	margin-bottom: $pad-md;
}

.column-headings h2 {
	// display: inline-block;
	background-color: $medium-gray;
	height: rem(52);
	line-height: rem(52);
	text-align: center;
	border-radius: $radius;
	// width: rem(440);
	// &:first-of-type {
	// 	margin-right: rem(55);
	// }
}


.color-pair {
  margin: 10px 0;
  .minicolors {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	margin-left: rem(-60);
  	margin-top: -15px;
  }
  .minicolors input[type=text] {
		width: rem(120);
		padding: rem(15) rem(10);
		background-color: rgba(42,42,42,0.5);
		border-radius: $radius;
	}
  .minicolors-swatch{
    display: none;
  }
  .minicolors-input {
    padding-left: 1px;
  }
}

.color-block {
	@include display(flex);
	@include justify-content(center);
	@include align-content(center);
	@include align-items(center);
	height: rem(140);
	border-radius: $radius;
}

input {
	background-color: inherit;
	box-shadow: none;
	border: none;
	text-align: center;
	outline: none;
	&:hover {
		cursor: text;
	}
	&:focus {
		outline: none;
	}
}



// Placeholder

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.1s ease; 
  opacity: 0;
}

.add-color,
a.add-color {
	@extend .color-preview;
	border: 2px dashed rgba(106,106,106,0.5);
	color: rgba(106,106,106,0.5);
}