// ============================================================
// ============================================================
// Mutoid Men Layout Styles
// ============================================================
// ============================================================


.wrapper {
	max-width: rem(940);
	margin-right: auto;
	margin-left: auto;
}

header h1 {
	text-align: center;
	margin-top: $pad-md;
	margin-bottom: $pad-md;
}

.column-headings h2 {
	display: inline-block;
	background-color: $medium-gray;
	height: rem(52);
	line-height: rem(52);
	text-align: center;
	border-radius: $radius;
	width: rem(440);
	&:first-of-type {
		margin-right: rem(55);
	}
}

.color-preview {
	height: rem(140);
	border-radius: $radius;
	&.empty {
		border: 2px dashed $light-gray;
	}
	p {
		line-height: rem(140);
		text-align: center;
	}
}

input {
	background-color: inherit;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid white;
	text-align: center;
	outline: none;
	&:hover {
		cursor: text;
	}
	&:focus {
		outline: none;
	}
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.1s 0.1s ease; 
  opacity: 0;
}