// ............................................________........................ 
// ....................................,.-‘”...................``~.,.................. 
// .............................,.-”...................................“-.,............ 
// .........................,/...............................................”:,........ 
// .....................,?......................................................\,..... 
// .................../...........................................................,}.... 
// ................./......................................................,:`^`..}.... 
// .............../...................................................,:”........./..... 
// ..............?.....__.........................................:`.........../..... 
// ............./__.(.....“~-,_..............................,:`........../........ 
// .........../(_....”~,_........“~,_....................,:`........_/........... 
// ..........{.._$;_......”=,_.......“-,_.......,.-~-,},.~”;/....}........... 
// ...........((.....*~_.......”=-._......“;,,./`..../”............../............ 
// ...,,,___.\`~,......“~.,....................`.....}............../............. 
// ............(....`=-,,.......`........................(......;_,,-”............... 
// ............/.`~,......`-...............................\....../\................... 
// .............\`~.*-,.....................................|,./.....\,__........... 
// ,,_..........}.>-._\...................................|..............`=~-,.... 
// .....`=~-,_\_......`\,.................................\........................ 
// ...................`=~-,,.\,...............................\....................... 
// ................................`:,,...........................`\..............__.. 
// .....................................`=-,...................,%`>--==``....... 
// ........................................_\..........._,-%.......`\............... 
// ...................................,<`.._|_,-&``................`\..............
// ...................................SHAME!!!!!!!!!!!..............................


// Silence is fucking golden



// demo

.color-pair {
  margin: 10px 0;
  .minicolors-swatch{
    display: none;
  }
  .minicolors-input {
    padding-left: 1px;
  }
}

// .color-block {
//   display: inline-block;
//   height: 20px;
//   width: 20px;
// }
