// ============================================================
// ============================================================
// Mutoid Men Variables
// ============================================================
// ============================================================


// Typefaces
// ============================================================
$heading-typeface: "gt_haptikbold", Verdana, "Helvetica Neue", Helvetica, sans-serif;
$body-typeface: "gt_haptiklight", Verdana, "Helvetica Neue", Helvetica, sans-serif;



// Colors
// ============================================================

$dark-gray: #2a2a2a;
$medium-gray: #3a3a3a;
$light-gray: #6a6a6a;
$off-white: #cacaca;


// Padding
// ============================================================

$pad-sm: rem(25);
$pad-md: rem(50);
$pad-lg: rem(100);