// ============================================================
// ============================================================
// Mutoid Men Imports
// ============================================================
// ============================================================

@import "warning";

@import "bourbon";
@import "normalize";

@import "variables";
@import "typography";
@import "base";
@import "layout";
// @import "mediaqueries";

@import "shame";

// demo

.color-pair {
  margin: 10px 0;
  .minicolors-swatch{
    display: none;
  }
  .minicolors-input {
    padding-left: 1px;
  }
}

.color-block {
  display: inline-block;
  height: 20px;
  width: 20px;
}
