<div class="row color-pair">
	
	<div class="half">
		<input
	    id="minicolors"
	    type="text"
	    ng-model="input"
      ng-change="colorChange()"
      ng-blur="colorChange(true)"
	    >
	  </input>

    <color-block ng-model="input"></color-block>
  </div>

  <div class="half">
    <div class="note" ng-show="assessment.significant">People with colorblindness will perceive this color differently, because of its 
      <span ng-if="assessment.causes.highRed">red</span>
      <span ng-if="assessment.causes.highRed && assessment.causes.highGreen">and</span>
      <span ng-if="assessment.causes.highGreen">green</span>
      content.
    </div>
  	<color-block ng-model="output"></color-block>
  </div>

</div>